.btn {
    padding: 10px;

}

.btn--primary {
    background: linear-gradient(100deg, $secondary 0%, $primary 100%);
    text-decoration-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 0 2px rgba(222, 221, 221, 0.2);
    border-color: transparent;
}