.btn {
    padding: 10px 20px;
    color: white;

}

.btn--primary {
    background: linear-gradient(168deg, $secondary 0%, $primary 100%);
    border-radius: 20px;
    box-shadow: 0 2px 2px 5px rgba(222, 221, 221, 0.2);
    border: 0;
}
