.location { 
    background-color: $dark-gray;
    text-align: center;
    padding: 15px 0 15px 0;
    color: #383838;
    display:flex;
    justify-content: center;
    gap: 15px;
}

.location-icon {
    color: rgb(30, 28, 28);
}